/* Layout */

body {
    margin: 2rem 1rem;
}

#heading {
    margin-top: 5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}


h4 {
    margin-top: 2rem;
    text-align: center;
}

/* Index */

.new_post {
    border-radius: 0.4rem;
    border: 1px solid rgb(200, 200, 200);
    margin: 0rem 0rem 0.5rem 0.5rem;
    padding: 1rem;
}

#new_post_text, .edit_textarea {
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0.4rem;
}

/* Posts */

#all_posts {
    margin: 0rem 0rem 1rem 0.5rem;
}

.post {
    padding:1rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
    transition: 0.5s background-color ease-in-out;
}

.post:hover {
    background-color: rgb(244, 244, 244);
}

.post_user {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.post_date {
    font-style: italic;
    color: rgb(100, 100, 100);
}

.post_like_button, .post_like_icon {
    display: inline-block;
}

.post_likes {
    display: inline-block;
}

.save_button {
    margin-bottom: 0.5rem;
}

/* Profile */
#heading_div {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
#profile_heading {
order: 1;
}

#profile_info {
    display: flex;
    flex-direction: column;
    align-items: left;
    order: 2;
}

#profile_followers,
#profile_following {
    display: flex;
    align-items: center;
    margin: 0.1rem 1rem;
}

#user_followers_text,
#user_following_text {
    width: 100%;
}

#user_followers,
#user_following {
    margin-left: 0.5rem;
}

#follow_button {
    margin: 0.5rem 0rem 0.5rem 0.5rem;
}

/* Mobile */

@media screen and (max-width: 600px) {
    body {
        margin: 1rem 1rem;
    }
    .new_post {
    margin: 0.5rem;
    padding: 1rem;
    }

    #all_posts {
        margin: 0.5rem;
    }
}


/* Extra for backend */

.post_id {
    display: none;
}

